<div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong> Add Data</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="mainForm" autocomplete="off">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Nama Dokumen</label
                ><input
                  class="form-control"
                  type="text"
                  formControlName="name"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Judul Dokumen</label
                ><input
                  class="form-control"
                  type="text"
                  formControlName="title"
                />
              </div>
            </div>
            <!-- <div class="col-sm-6">
                <div class="form-group">
                  <label>Tags</label> <br />
                  <p-autoComplete formControlName="tags" field="name" [suggestions]="tagsResults" (completeMethod)="onSearchTags($event)" [multiple]="true" minLength=3 placeholder="Ketikan 3 karakter"></p-autoComplete>
                </div>
              </div> -->
            <div class="col-sm-12">
              <div class="form-group">
                <label>Deskripsi</label>
                <p-editor [style]="{'height':'320px'}" formControlName="description"></p-editor>
              </div>
            </div>            
          </div>
        </form>
      </div>
      <div class="card-footer">
        <p-footer>
          <button class="btn btn-sm" pButton (click)="onSubmit()" label="Submit" [disabled]="isDisabled"></button>
          <button class="btn btn-sm" pButton (click)="onReset()" label="Reset" [disabled]="isDisabled"></button>
          <button class="btn btn-sm" pButton label="Save Uploads" disabled=true></button>
          <button class="btn btn-sm back" pButton (click)="onCancel()" label="Back"></button>
        </p-footer>
      </div>
    </div>
  </div>
  <p-confirmDialog></p-confirmDialog>
  