strong {
    position: absolute;
    top: 20px;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.765625rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    margin: 0 5px;
}

:host ::ng-deep .p-grid {
  padding: 2px;
  max-width: 1500px;
  display: flex;
  flex-flow: row wrap;
}
