<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong> Add Data</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="mainForm" autocomplete="off">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Name</label
              ><input
                class="form-control"
                type="text"
                formControlName="name"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Template</label
              > <br>
                <!-- <label for="file">Choose File</label> -->
                <input class="form-control" type="file"
                formControlName="file" (change)="handleFileInput($event.target.files)">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <p-footer>
        <button class="btn btn-sm" pButton (click)="onSubmit()" label="Submit" [disabled]="isDisabled"></button>
        <button class="btn btn-sm" pButton (click)="onReset()" label="Reset" [disabled]="isDisabled"></button>
        <button class="btn btn-sm back" pButton (click)="onCancel()" label="Back"></button>
      </p-footer>
    </div>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>
